{% extends 'layout.html' %}


    {% block head %}
    <title>Sign-in</title>
    {% endblock %}


    {% block body %}
    <div class="maincontainer">
        <div class="signup">
                <h1>Sign up</h1>
            <div class="name" id="spacebetween">    
                <form action="/submit" method="POST"> <!--puts ur info into the database-->
                <label for="fullname">Full Name:</label>
                <input class="inputsize" type="text" id="fullname" name="fullname" required>
            </div>    
                <!-- <br> -->
            <div class="mail" id="spacebetween">    
                <form action="/submit" method="POST"> <!--puts ur info into the database-->
                <label for="email">Email:</label>
                <input class="inputsize" type="email" id="email" name="email" required>
            </div>    
                <!-- <br> -->
            <div class="pass" id="spacebetween">    
                <label for="password">Password:</label>
                <input class="inputsize" type="password" id="password" name="password" required>
            </div>    
                <!-- <br> -->
                <br>
                <button class="buttonsapl" id="buttonssml" type="submit">Submit</button>
                </form>
                <br>
        </div>
        <div class="signin"> 
            <br>
            <h1>Update Score</h1>
            <form action="/update_score" method="POST"> <!--updates the score in the database-->
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="score">New Score:</label>
                <input type="number" id="score" name="score" required>
                <br>
                <button class="buttonsapl" id="buttonssml"  type="submit">Update Score</button>
            </form>
        </div>
    </div>
    {% endblock %}

